
.guide_bg{
	background: #ffffff;
	width:1200px;margin:auto;
}
.guide_title{
	padding:62px auto 48px auto ;
	font-size: 27px;
	color: #221815;
	text-align: center;
	line-height: 137px;
}
.guide_notice{
	height:131px;
	padding: 0 150px; 
}
.guide_notice li{
	float: left;
	width: 192px;
	margin: 0 54px;
}
.guide_notice li img{
	float: left;
}
.guide_notice li h2{
	float: left;
	margin-left: 14px;
	font-size: 20px;
	color: #595757;
/*	width: 150px;*/
	font-weight: normal; 
}
 .guide_notice li p{
 	float: left;
	margin-left: 14px;
	font-size: 14px;
	color: #949495;
	line-height: 30px;
 }

.guide_banner2 img {
	margin: auto;
}
.QA {
	padding: 30px 48px 0px 50px;
	box-shadow: -0px -1px 5px rgba(220,220,220,12);
}
.QA_title{
	font-size: 15px;
	color: #d70937;
	line-height: 15px;
	border-bottom: solid #eeeeee 1px;
}
.QA_title p{
	width: 60px;
	border-bottom: solid #d70937 2px;
	padding-bottom: 25px; 
}
.guide_shadow{
	box-shadow: -0px -1px 5px rgba(220,220,220,12);
	height: 800px;
}

.arrow {
    margin: 0 50px 0 11px;
    transition-duration:0.3s;
    float: right;;
}

.QA_content1 img {
	float: right;
	transform: rotate(180deg)
}
.QA_content1 p{
	font-size: 14px;
	color: #727171;
	line-height: 34px
}
.kefu{
	float:left;
	margin-bottom: 20px;
	font-size: 14px;
	color: #221815;
	line-height: 60px;
}
.bottomline{
	border-bottom: solid #eeeeee 1px;
	margin-top: 65px;
}
/*.customservice {
	background: url('../images/new/guide_customservice.png') no-repeat;
	padding-left: 20px;
	font-style: normal;
	color: #221815;
	line-height: 60px;
	margin-left:24px;
}*/
.content_title{
	font-size: 15px;
	color: #595757;

}
/*  手风琴菜单  */
.accordion {
 	background: #FFF;

 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 28px 0 28px 50px;
	color: #3e3a39;
	font-size: 15px;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #b63b4d;
}


.open .arrow{
	transform: rotate(180deg);
	transition-duration:0.3s;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.open {
	box-shadow: -0px 5px 5px rgba(220,220,220,12);
	/*border-top: solid 1px #eeeeee;*/
}
/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	font-size: 14px;
 	padding: 0 50px; 
 } 

 .submenu li {
 	padding-bottom: 70px;
 	position: relative;
 }


 .link:hover {
	background: #f5f5f5;
	color:#d70937;
 }
  .drop-shadow {
    position: relative;     
  }

  .drop-shadow:before,
  .drop-shadow:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 15px;
    left: 10px;
    width: 50%;
    max-width: 150px;
    height: 20%;
    /*add box-shadow*/
    -webkit-box-shadow: 0 15px 10px rgba(125,125,125,0.8);
    -moz-box-shadow: 0 15px 10px rgba(125,125,125,0.8);
    box-shadow: 0 15px 10px rgba(125,125,125,0.8);
    /*add css3 transform*/
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

 .drop-shadow:after {
    right:10px;
    left: auto;
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    transform:rotate(3deg);
 }
   