.reveal_main {
	width: 1200px;
	margin:20px auto;
	font-size: 18px;
	color: #101010;
	height: 3200px;
	background: #ffffff;
}
.reveal_main ul {
	float: left;
}
.reveal_main .reveal_main_01 {
	padding: 4px 46px;
	margin-bottom: 30px;
}
.reveal_main .reveal_main_01 span {
	float: left;
	width: 100%;
	margin:20px auto;
}
.reveal_main .reveal_main_01 li {
	float: left;
	width: 274px;
	height: 156px;
	margin-right: 3px;
	background: #ecf3ff;
	text-align: center;
}
.reveal_main .reveal_main_01 li span {
	font-size: 26px;
	color: #0f0f0f;
	float: none;
	line-height:100px;
}
.reveal_main .reveal_main_01 li p {
	font-size: 16px;
	color: #0f0f0f;
}
.reveal_main .reveal_main_02 {
	padding: 4px 46px;
	margin-top: 35px;
}
.reveal_main .reveal_main_02 span {
	float: left;
	width: 100%;
	margin:20px auto;
}
.reveal_main .reveal_main_02 li {
	float: left;
	width: 366px;
	height: 156px;
	margin-right: 3px;
	background: #ecf3ff;
	text-align: center;
}
.reveal_main .reveal_main_02 li span {
	font-size: 26px;
	color: #0f0f0f;
	float: none;
	line-height:100px;
}
.reveal_main .reveal_main_02 li p {
	font-size: 16px;
	color: #0f0f0f;
}
.yuqi {
	border: #ededed 1px solid;
	line-height: 32px;
	font-size: 13px;
	color: #101010;
	text-align: center;
}
.yuqi tbody tr td{
	height: 32px;
}
.yuqi tbody tr:nth-child(1) {
	background: #45a4e8;
	color: #ffffff;
	font-size: 14px;
}
#money{width: 1100px;height:500px;margin: 0 auto;}

.t1{width: 78px;}
.t2{width: 88px;}
.t3{width: 168px;}
.t4{width: 70px;}
.t5{width: 164px;}
.t6{width: 116px;}
.t7{width: 126px;}
.t8{width: 126px;}
.t9{width: 164px;}

#ten2{width: 500px;height:330px;margin: 0 auto;}
#single2{width: 500px;height:330px;margin: 0 auto;}
#investment{width: 500px;height:330px;margin: 0 auto;}
#age{width: 500px;height:330px;margin: 0 auto;}
#tt1{width:549px}
